* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior:smooth;
}

:root {
    --fuente-principal:  Montserrat, sans-serif;
    --fuente-secundaria: Roboto, sans-serif;
    --color-principal: white;
    --color-secundario: #bbb807;
    --color-terciario: black;
    --color-cuaternario: red;

}

h1 {
    font-family: var(--fuente-principal);
    text-align: initial;
    font-size: 3rem;
}

h2 {
    font-family: var(--fuente-principal);
    text-align: initial;
    font-size: 2rem;
}

h3 {
    font-family: var(--fuente-principal);
    text-align: initial;
    font-size: 1.5rem;
}
h4 {
    font-family: var(--fuente-principal);
    text-align: initial;
    font-size:1rem;
}

nav {
    display:flex;
    flex-direction: row;
    font-size: 1.5rem;
    gap: 4em;
    align-items: center;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.seleccionado {
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
}
.boton {
    font-size: 1.5rem;
    font-weight: bold;
    
}

.cajasocio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.botonsecundario {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--color-secundario);
    color: black;
    padding: 1rem 3rem;
    border-radius: 20rem;
    transition:cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.botonsecundario:hover {
    background-color: var(--color-terciario);
    color: var(--color-principal);
}
.botonsecundario:active {
    background-color: var(--color-cuaternario);
    color: var(--color-principal);
}

nav a {
    text-decoration: none;
    font-family: var(--fuente-secundaria);
    font-size: 1.2rem;
    padding: 10px 20px;
    color: black ;
    display: inline-block;
    
}

nav a:hover {
    color: red;
    font-weight: bold;
    transform:scale(1.1s);
}
.bannerbienvenida {
    background-image:linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)),
    url(img/pareja-deportiva-en-un-entrenamiento-de-ropa-deportiva-en-un-gimnasio.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
    justify-content: center;
}

.bannerbienvenida h2 {
    color: var(--color-principal);
    text-align: center;
    padding-top: 3.5em;
    font-size: 3rem;
    font-family: var(--fuente-principal);
}

.linksnavegacion {
    display: flex;
    flex-direction: row;
    gap:2.5rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    
}

.linksnavegacion a {
    justify-content: center;
}

.botonterciario {
    font-family: var(--fuente-principal);
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration:none;
    padding: 1rem 4rem;
    border-radius: 20rem;
    background-color: black;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
    color:white;
}

.botonterciario:hover {
    background-color: red;
    
}

.botonteriario:active {
    background-color: red;
}

.contenido {
    display: inline-block;
    width: 50%;
}
.textos {
    display: inline-block;
    width: 50%;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}

.imggym img{
    display: inline-block;
    width: 50%;
    height: auto;
    border-radius: 20px;
    justify-content: end;
}

.textonegrita {
    font-weight: bold;
    color: black;
    font-size: 3.5rem;
    text-align: start;
    margin-left: 2rem;
    font-family: var(--fuente-secundaria);
}

.titlecontenido {
    font-family: var(--fuente-principal);
    font-size: 3rem;
    color: black;
    margin-left: 2.5rem;
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
}

.parrafo {
    font-family: var(--fuente-secundaria);
    font-size: 1.8rem;
    color: black;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.desvanecido {
    color: rgba(0, 0, 0, 0.541);
    font-size: 1.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.bannerhorario {
    background-color: rgba(128, 128, 128, 0.678);
    padding: 10rem 0;
    text-align: space-between;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10em;
    font-family: var(--fuente-secundaria)
}

.horario {
    font-size: 2rem;
    font-family: var(--fuente-secundaria);
    color: rgb(255, 255, 255);
    font-weight: 500;
}


#titleactividades h3 {
    margin-top: 2em;
    font-size: 4rem;
    justify-content: center;
    text-align: center;

}

.tarjetas {
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 15rem;
}

.tarjetas-act {
    align-items: center ;
    text-align:center;
    font-size: 2rem;
    box-shadow:inset 0 0 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    max-width: 15rem;
    max-height: 20rem;
    padding: 1.5rem 2.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tarjetas-act img {
    margin-bottom: 1em;
    margin-top:1em;
    box-sizing:border-box; 
    width: 45%;
    border-radius: 40px;
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.249);
    align-items: center;
    justify-content: center;
}



.tarjetas-act:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    background-color: goldenrod;
    font-weight: bolder;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

tarjetas-act p{
    font-size: 1.5rem;
    color: black;
    font-family: var(--fuente-secundaria);
    align-items: center
}

.bannerservicios {
    padding: 5rem 0;
    background-color: black;
    
}

.bannerservicios h3 {
    color: white ;
    font-size: 4rem;
    text-align: center;
    margin-top:3rem;
    margin-bottom: 2rem;
}

.caja-servicios {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 10rem;


}

.servicio-element {
    text-align: center;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    max-width: 15rem;
    max-height: 20rem;
    padding:4rem 3rem;
    box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.5);
    text-align:center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.servicio-element img {
    width: 60%;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 1rem 1rem;
}

.servicio-element:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
    background-color:goldenrod;
    font-weight:bolder;
    cursor: pointer;
    color:black;

}
.servicio-element {
    font-size: 2rem;
    color: white;
}

